* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  /* this has to be set to switch between light or dark */
  color-scheme: light dark;

  --light-bg: #F7F4EA;
  --light-color: rgb(95, 125, 83);
/*   --light-code: tomato; */

  --dark-bg: rgb(95, 125, 83);
  --dark-color: #F7F4EA;
  /* --dark-code: rgb(0, 0, 0); */
}
* {
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-color), var(--dark-color));
}

/* @media (min-width: 480px) {


} */
.light {
  /* forces light color-scheme */
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  color-scheme: light;
  width: 100%;
  height: 600px; 
}
.dark {
  /* forces dark color-scheme */
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  color-scheme: dark;
    width: 100%;
  height: 600px;

}


/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
   background-color: rgb(14, 13, 13, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* höher als Hero */
    transition: background-color 0.3s ease; /* sanfter Übergang */
}

/* nav.scrolled {
    background-color: rgb(14, 13, 13, 0.6); /* z.B. halbtransparent schwarz 
} */

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    background-color: transparent;
}

li {
    list-style: none;
    background-color: transparent;
}

a {
    text-decoration: none;
    background-color: transparent;
}

section.hero {
    width: 100%;
    height: 900px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: transparent;
}

/* Hero-Bild */
img.heroImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;   /* ganz wichtig */
  object-fit: cover;
  object-position: center center;
  opacity: 0.9;
}


.heroTitle {
    width: 70%;
    font-size: 100px;
    z-index: 2;
    color: #F7F4EA;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 opacity: 90%;
}

.heroButtons {
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 4rem;
    background-color: transparent;
}

a.btn {
  display: inline-block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: var(--dark-bg);
    color: var(--dark-color);
  border-radius: 20px;
  font-size: 22px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a.btn:hover {
  background-color: var(--light-bg);
  color: var(--light-color);
}


.container {
  width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    justify-content: center; 
    align-items: center;
    gap: 4rem; 
}

.content {
    display: flex;
    justify-content: flex-start; /* horizontal zentriert im Content */
    align-items: flex-start;     /* vertikal zentriert im Content */
    flex-direction: column;  /* Icon über Text */
    gap: 2rem;
    background-color: transparent;
}

.contentImg {
    display: flex;
    justify-content: center; /* horizontal zentriert im Content */
    align-items: flex-end;     /* vertikal zentriert im Content */
    flex-direction: column;  /* Icon über Text */
    gap: 2rem;
    background-color: transparent;
   
}

.contentIcon {
    display: flex;
    justify-content: center; /* horizontal zentriert im Content */
    align-items: center;     /* vertikal zentriert im Content */
    flex-direction: column;  /* Icon über Text */
    gap: 3rem;
    background-color: transparent;
    text-align: center;
}

img.icon {
  width: 130px;
  height: auto;
}

img.contentImg {
    width: 500px;
    height: auto;
   
}
.containerImg {
 width: 500px;
 height: 300px;
 border: none;
border-radius: 40px 0px 40px 40px;
overflow: hidden;
}

.container3 {
  width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center; 
    align-items: flex-start;
    gap: 8rem; 
    background-color: transparent;
}


.container2 {
  width: 70%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    gap: 15rem; 
    background-color: transparent;

 
}

.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.bannerImg {
  width: 100%;
  height: auto;
object-fit: cover;
 object-position: top center;
}

.footerNav {
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
}



small {

  margin-top: 4rem;
}